body {
  margin: 0;
  font: normal 1rem "Roboto", sans-serif;
}

h1, h2 {
  font: bold 2.625rem "Roboto", sans-serif;
}

h3 {
  font: bold 1.5rem "Roboto", sans-serif;
}

  #products p, #reps p, #contact p, .uk-overlay p {
    font-size: 1rem;
    line-height: 1.5;
  }

:target {
    scroll-margin-top: 80px; /* Adjust this value to the height of your fixed header */
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  z-index: 999;
}

nav.uk-padding-small {
  padding-top:0px;
  padding-bottom:0px;
}

.uk-navbar-nav a:hover:not(.uk-navbar-toggle), .uk-navbar-nav a:hover:not(.uk-logo) {
  border-bottom:1px solid #1e87b1;
  color: #1e87b1 !important;
}
.uk-navbar-toggle:hover, .uk-navbar-toggle[aria-expanded=true] {
  color:black;
}

.uk-text-primary {
  color:#1e87b1;
}

nav img {
  max-width: 100px;
  padding:10px 0px;
}

#hero .above-all {
  z-index:100;
}

.outer-sticky {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #f0eee9;
  background-color:#fff;
}

.custom-button-color {
  background-color:#1e87b1 !important;
  color:#fff !important;
}
.custom-button-color:hover {
  color:#fff;
}

#hero .uk-button-primary {
  color:black;
}
.uk-button-primary {
  font-weight:bold;
  color:black;
}
.uk-button-primary:hover {
  filter: brightness(95%);
}

.uk-heading-small {
  font: bold 2.625rem "Roboto", sans-serif;
}

.about-section {
  line-height:1.5;
}

.uk-offcanvas-bar ul li a {
  color:#fff !important;
}
.uk-offcanvas-bar ul li a {
  margin-bottom:10px;
}
.catalog-offcanvas li a {
 margin-bottom:0px !important;
}

.uk-offcanvas-bar .catalog-offcanvas a.uk-button {
  margin-bottom:0px;
}

.uk-navbar-nav > li > a {
  font-weight: 500;
  color:black;
  min-height:10px;
}
.uk-navbar-nav > li.uk-active {
  border-bottom:1px solid black;
}

.mpi-blue {
    background-color: #1e87b1 !important;
    color: #fff !important;
}

#hero .uk-card-secondary {
  background: none;
  box-shadow: none;
}

#hero .uk-text-lead {
  font-weight: 300;
}

.uk-card-default.uk-card-hover:hover {
    box-shadow: 0 14px 25px rgba(30, 135, 177, .25);
}

.uk-card-default.uk-card-hover:hover .uk-overlay-default {
  background: rgba(30, 135, 177, 0.8)

}
.uk-card-default.uk-card-hover:hover .uk-overlay-default p {
  color:#fff !important;
}

#hero h1,
#hero p {
  color: #fff;
}

#hero .uk-overlay {
  padding: 30px;
  max-width: 1024px;
  width: 100%;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8); /* enhances legibility */
}

#hero .uk-overlay h1 {
  font-size: 2.65rem;
}

#hero .uk-overlay p {
  font-size: 1.15rem;
}

#hero img {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.cta-button {
  padding: 20px;
  background: #1e87b1 center/cover no-repeat !important;
  color: white !important;
  border: none;
  font: bold 1rem "Roboto", sans-serif;
}

.cta-button:hover {
  filter: brightness(1.05);
  background-color: #1e87b1;
}

#products img {
  max-width: 500px;
  width: 100%;
}

img.american {
  max-width: 500px;
}

footer {
  background: black;
  color: #fff;
  font-size: 14px;
  padding: 30px 20px;
}

footer .footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  text-align: center;
}
  

#contact a {
  color:#1e87b1 !important;
}

.uk-card-secondary.alt {
  background-color: #f0eee9;
}

.uk-card-secondary.alt h3,
.uk-card-secondary.alt p,
.uk-card-secondary.alt a {
  color: #000 !important;
}

@media (max-width: 1024px) {
.uk-container {
  padding:25px;
}


  .uk-section {
    padding: 10px 0;
  }

  #hero,
  #hero .uk-slideshow-items {
    height: 50vh !important;
    min-height: 50vh !important;
  }

  #hero .uk-text-lead,
  #hero p,
  .cta-button {
    font-size: 1rem;
  }

  .catalog-offcanvas {
    margin-top:25px;
    padding-top:25px;
    border-top:1px solid #fff;
  }
  .catalog-offcanvas a.uk-button {
    background-color:#fff !important;
    color:black !important;
  }

  #hero .uk-overlay h1,
  #hero .uk-overlay h2 {
    font-size: 2rem;
  }

  #hero .uk-overlay {
    max-width: 100%;
  }

  #products h2,
  #reps h2,
  #contact h2 {
    font-size: 2rem;
  }

  #products h3,
  #reps h3 {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }

  .cta-button {
    font: bold 0.75rem "Roboto", sans-serif;
  }

  .uk-offcanvas-overlay::before {
    background: rgba(0, 0, 0, 0.25);
  }

  footer .footer-container {
    text-align: left;
    align-items: flex-start;
  }

  /* Added styles for version 2 mobile */
  .uk-heading-medium {
    font-size:1.75rem;
  }
  .uk-text-lead {
    font-size:1.25rem;
  }
  .uk-heading-medium {
    line-height:1.5;
  }
  .uk-heading-small {
    font: bold 2.2rem "Roboto", sans-serif;
  }
  .uk-button {
    margin-bottom:25px;
  }
  nav.uk-section {
  padding: 0 25px;
}
.uk-navbar-toggle{
  color:black;
  padding-right:5px;
}
 .uk-close {
  color:#fff !important;
  padding:10px;
 }
  footer {
    padding:10px;
  }
 
}
