body {
  margin: 0;
  font: normal 1rem "Roboto", sans-serif;
}

h1, h2 {
  font: bold 2.625rem "Roboto", sans-serif;
}

h3 {
  font: bold 1.5rem "Roboto", sans-serif;
}

:target {
    scroll-margin-top: 80px; /* Adjust this value to the height of your fixed header */
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  z-index: 999;
}

nav.uk-section {
  padding: 0 25px;
}

nav a:hover {
  text-decoration: underline;
}

nav img {
  max-width: 100px;
}

.outer-sticky {
  background-color: #1e87b1 !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #f0eee9;
}

.uk-open > .uk-offcanvas-bar,
.uk-offcanvas-bar .uk-nav-default > li > a,
.uk-offcanvas-bar {
  background-color: #1e87b1;
  color: #fff;
}

.uk-navbar-nav > li > a,
.uk-navbar-toggle {
  color: #fff !important;
  font-weight: 500;
}

.uk-dotnav > * > * {
  background-color: transparent !important;
  border-color: black !important;
}

.mpi-blue {
    background-color: #1e87b1 !important;
    color: #fff !important;
}

.uk-dotnav .uk-active a {
  background-color: black !important;
  border-color: black !important;
}

#hero .uk-card-secondary {
  background: none;
  box-shadow: none;
}

#hero .uk-text-lead {
  font-weight: 300;
}

#hero h1,
#hero p {
  color: #fff;
}

#hero .uk-overlay {
  padding: 30px;
  max-width: 1024px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
}

#hero .uk-overlay h1 {
  font-size: 2.65rem;
}

#hero .uk-overlay p {
  font-size: 1.15rem;
}

#hero img {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.cta-button {
  padding: 20px;
  background: #1e87b1 center/cover no-repeat !important;
  color: white !important;
  border: none;
  font: bold 1rem "Roboto", sans-serif;
}

.cta-button:hover {
  filter: brightness(1.05);
  background-color: #1e87b1;
}

#products img {
  max-width: 500px;
  width: 100%;
}

img.american {
  max-width: 500px;
}

footer {
  background: #1e87b1;
  color: #fff;
  font-size: 14px;
  padding: 30px 20px;
}

footer .footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  text-align: center;
}

#contact a {
  color:#1e87b1 !important;
}

.uk-card-secondary.alt {
  background-color: #f0eee9;
}

.uk-card-secondary.alt h3,
.uk-card-secondary.alt p,
.uk-card-secondary.alt a {
  color: #000 !important;
}

@media (max-width: 1024px) {
  .uk-section {
    padding: 10px 0;
  }

  #hero,
  #hero .uk-slideshow-items {
    height: 55vh !important;
    min-height: 55vh !important;
  }

  #hero .uk-text-lead,
  #hero p,
  .cta-button {
    font-size: 1rem;
  }

  #hero .uk-overlay h1,
  #hero .uk-overlay h2 {
    font-size: 2rem;
  }

  #hero .uk-overlay {
    max-width: 100%;
  }

  #products h2,
  #reps h2,
  #contact h2 {
    font-size: 2rem;
  }

  #products h3,
  #reps h3 {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }

  #products p {
    font-size: 1rem;
  }

  .cta-button {
    font: bold 0.75rem "Roboto", sans-serif;
  }

  .uk-offcanvas-overlay::before {
    background: rgba(0, 0, 0, 0.25);
  }

  footer .footer-container {
    text-align: left;
    align-items: flex-start;
  }

  .footer-container.uk-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 960px) {
  .uk-section {
    padding: 20px 0;
  }
}
